src/main/resources/xml/schema/directories.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/directories"
           xmlns:tns="http://example.com/directories"
           elementFormDefault="qualified">

    <!-- CreateDirectoryRequest -->
    <xs:element name="CreateDirectoryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="path" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- CreateDirectoryResponse -->
    <xs:element name="CreateDirectoryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="path" type="xs:string"/>
                <xs:element name="owner" type="xs:string"/>
                <xs:element name="createdAt" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
