src/main/resources/xml/schema/files.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/files"
           xmlns:tns="http://example.com/files"
           elementFormDefault="qualified">

    <!-- Request -->
    <xs:element name="GetFileRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Response -->
    <xs:element name="GetFileResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="path" type="xs:string"/>
                <xs:element name="sizeBytes" type="xs:long"/>
                <xs:element name="mimeType" type="xs:string" minOccurs="0"/>
                <xs:element name="ownerId" type="xs:long"/>
                <xs:element name="createdAt" type="xs:dateTime"/>
                <xs:element name="updatedAt" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- DeleteFileById -->
    <xs:element name="DeleteFileByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DeleteFileByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- MoveRenameFile -->
    <xs:element name="MoveRenameFileRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sourceFile" type="xs:string"/>
                <xs:element name="destinationDir" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="MoveRenameFileResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
