src/main/resources/xml/schema/users.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="user_account">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="user" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:long"/>
                            <xs:element name="username" type="xs:string"/>
                            <xs:element name="email" type="xs:string" minOccurs="0"/>
                            <xs:element name="full_name" type="xs:string" minOccurs="0"/>
                            <xs:element name="created_at" type="xs:dateTime" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
